<div nz-row class="size-error">
  <div nz-col [nzSpan]="24" class="align-self-center">
    <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Lo sentimos, la página que visitaste no existe" class="p-3">
      <div nz-result-extra>
        <a [routerLink]="['/']" class="line-none">
          <button nz-button nzType="primary" class="colorBtn bordeBtn h-100 w-25">
            <span class="c-white h6 m-0 fw-600">Regresar</span>
          </button>
        </a>
      </div>
    </nz-result>
  </div>
</div>