:host ::ng-deep .ant-card-body {
  padding: 6px !important;
  background-color: var(--gray) !important;
  border-radius: 0px 0px 6px 6px !important;
  // max-height: 100px !important;
}

:host ::ng-deep .ant-tooltip-inner {
  color: var(--white)
}

:host ::ng-deep .ant-result-title {
  color: var(--black) !important;
}

:host ::ng-deep .ant-result-subtitle {
  color: var(--black) !important;
}